<template>
  <section>
    <h2>このスライドは...でできています</h2>

    <ul>
      <li>Vue.js</li>
      <li>Reveal.js</li>
      <li>Repl.it</li>
    </ul>
  </section>
</template>

<script>
</script>

<style scoped>
</style>
