<template>
  <section>
    <h2>問題: どのように表示される?</h2>
    <div style="display: flex;">
      <div style="width: 60%;">
        <iframe height="400px" width="100%" src="https://repl.it/@moudy/ClearcutRemarkableXenurusunicinctus?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
      </div>
      <div style="text-align: left;">
        <p>以下から選んでね!</p>
        <label><input type="radio" name="q1"> Hello World!</label><br>
        <label><input type="radio" name="q1"> "Hello World!\n"</label>
      </div>
    </div>
  </section>
</template>

<script>
</script>

<style scoped>

</style>
