<template>
  <div id="app">
    <div class="reveal">
      <div class="slides">
        <front-cover></front-cover>
        <powered-by></powered-by>
        <question1></question1>
      </div>
    </div>
  </div>
</template>

<script>
import FrontCover from '@/components/FrontCover.vue';
import PoweredBy from '@/components/PoweredBy.vue';
import Question1 from '@/components/Question1.vue';

export default {
  name: 'app',
  components: {
    FrontCover,
    PoweredBy,
    Question1,
  },
};
</script>

<style>
body, #app {
  height: 100%;
}
</style>
